<div class="col-lg-6 mx-auto">
  <h1 class="fw-light"><%= title %></h1>
  <p class="lead text-body-secondary"><%= description %></p>
</div>

<div class="album py-0 bg-body-tertiary">
  <div class="container">
    <% if (products.length === 0) { %>
    <div class="col-12 text-center">
      <p class="lead">No products available in this section yet.</p>
      <hr class="my-4" />
    </div>
    <% } else { %>
    <div class="d-flex overflow-auto gap-3 px-2">
      <% products.forEach(product => { %>
      <div style="min-width: 250px; flex: 0 0 auto;">
        <%- include('product-card', { product, imgStyle: "product-profile-img", titleStyle: "product-card-parag" }) %>
      </div>
      <% }); %>
    </div>
    <% } %>
    <hr class="my-4" />
  </div>
</div>