.nav-link {
  display: flex;
  align-items: center;
}

.nav-link img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.nav-link span {
  margin-left: 5px;
}

.form-label {
  font-weight: 600;
}

.form-control,
.form-select {
  border-radius: 0.5rem;
  box-shadow: none;
  transition: border-color 0.3s ease;
}

.form-control:focus,
.form-select:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.img-thumbnail {
  border-radius: 0.5rem;
  object-fit: cover;
}

.custom-navbar {
  background-color: #dbd9d5;
}

.post-img {
  max-height: 100px;
  aspect-ratio: 1/1;
}

.product-details-img {
  height: 400px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.product-image {
  height: 200px;
  width: 100%;
}

.product-span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-profile-img {
  height: 200px;
  width: 300px;
}

.profile-picture {
  max-width: 200px;
  max-height: 200px;
}

.profile-data {
  min-width: 120px;
}

.profile-products {
  min-width: 250px;
  flex: 0 0 auto;
}

.product-card-parag {
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
